@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Azeret Mono", monospace; /* Example font-family */
}

p {
  font-size: 16px; /* Example font size */
}

/* font-family: "Azeret Mono", monospace; */
/* Shared Style */
.centre {
  align-items: center;
}
.btn-primary {
  font-size: 28px;
  font-weight: 600px;
  border-radius: 8px;
  padding: 17px 24px;
}
.dark-1 {
  color: rgba(13, 19, 33, 1);
}
section {
  margin: 78px 151px 90px;
}
/* header */
/* nav styling  */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
  align-items: center;
}
.name {
  font-size: 28px;
  font-weight: bolder;
  color: rgba(13, 19, 33, 1);
}
/* background image */
.secondary-bg {
  background-image: url("../assets/Hero-bg.png");
}
.group-pic {
  padding: 26px 221px 45px 221px;
  text-align: center;
}
.nav-head {
  padding-bottom: 24px;
  font-weight: bolder;
  font-size: 48px;
}
.nav-des {
  padding-bottom: 32px;
  font-size: 16px;
}
.nav-button {
  background-color: rgba(13, 19, 33, 1);
  color: white;
}
/* section part */
.web-dev {
  background-color: rgba(13, 19, 33, 0.02);
  padding: 80px 97px;
  border-radius: 16px;
}
.why-web-dev {
  margin: 80px 97px;
  text-align: center;
}
.web-dev-head {
  font-size: 32px;
  font-weight: bolder;
}
.web-dev-des {
  font-size: 16px;
}
.dev-start {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  align-items: center;
}
.dev-sec {
  text-align: left;
  align-items: center;
  margin: 100px 1-0px 11px 0px;
}
.dev-title {
  font-size: 24px;
  font-weight: bold;
}
.dev-des {
  font-size: 16px;
}
.btn {
  font-size: 20px;
  font-weight: 600px;
}
/* inspiration page design */

.vid-inspiration {
  padding: 32px 0px 32px 32px;
  border-radius: 16px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.vid {
  border-radius: 16px;
  /* margin: 32px 0px 32px 32px; */
}
/* target page designing */
.cur-tar-content {
  display: flex;
  gap: 24px;
}
.content {
  padding: 40px;
  border-radius: 16px;
}
.co-1 {
  background-color: rgba(255, 76, 30, 0.05);
}
.co-2 {
  background-color: rgba(0, 76, 232, 0.05);
}
.co-3 {
  background-color: rgba(255, 223, 0, 0.05);
}
a {
  color: rgba(13, 19, 33, 1);
  font-weight: bold;
  font-size: 16px;
}
/* next target page */
.next-tar-content {
  display: block;
}
.n-content {
  display: flex;
  align-items: center;
  padding: 24px;
  margin: 40px;
  gap: 24px;
  border-radius: 16px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}
/* last part */
.last-part {
  background-image: url("../assets/handshake.jpg");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: 100% 100%;
  border-radius: 16px;
  padding: 64px 100px;
  height: 400px;
}
.last-head {
  color: white;
  font-size: 32px;
  font-weight: bold;
}
.last-des {
  color: white;
  font-size: 16px;
}
form input[type="text"] {
  font-size: 16px;
  text-align: center;
  width: 50%;
  height: 57px;
  display: inline-block;
  border-radius: 8px;
  align-items: center;
  border-style: none;
}
.sub {
  color: #0d1321;
  font-size: 20px;
  font-weight: 800px;
  border-radius: 8px;
  border-style: none;
  width: 120px;
  height: 57px;
}
/* Footer */
footer {
  background-color: rgba(13, 19, 33, 0.03);
  padding: 5px 70px;
}
.fotter-des {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fot-des {
  font-weight: bold;
  font-size: 20px;
}
